#{extends 'main.html'/}
#{set title:'Categorias Cadastradas'/}

<div class="container">
    <div class="operacao d-flex justify-content-between align-item-center mb-2">
        <h3>Categorias Cadastradas</h3>
        <a href="@{Categorias.create}" class="btn btn-success">
            <i class="fas fa-circle-plus"></i> Nova Categoria
        </a>
    </div>
    <div class="messages mb-3">
    #{if flash.error}
        <div class="alert alert-danger">${flash?.error}</div>
    #{/if}

    #{if flash.success}
        <div class="alert alert-success">${flash?.success}</div>
    #{/if}
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Categoria</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: categorias, as: 'categoria'}
            <tr>
                <td>${categoria_index}</td>
                <td>${categoria?.getCategoria()}</td>
                <td>
                    <a href="@{Categorias.create(categoria?.id)}" class="btn btn-primary"><i class="fas fa-edit"></i>
                        Editar</a>
                    <a href="@{Categorias.delete(categoria?.id)}" class="btn btn-danger"><i class="fas fa-trash"></i>
                        Eliminar</a>
                </td>
            </tr>
            #{/list}
            </tbody>
        </table>
    </div>
</div>