#{extends 'main.html'/}
#{set title:'Actividades Cadastradas'/}

<div class="container">
    <div class="operacao d-flex justify-content-between align-item-center mb-2">
        <h3>Actividades Cadastradas</h3>
        <a href="@{Actividades.create}" class="btn btn-success">
          <i class="fas fa-circle-plus"></i> Nova Tarefa
        </a>
    </div>
    <div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
    </div>
</div>